<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['../applist']">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'download.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="setLanguage($event.detail.value)"
                  interface="popover">
        <ion-select-option *ngFor="let lang of languageOptions" [value]="lang.code">
          {{ lang.name }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <h4 class="text-center">{{ 'download.downloadZone' | translate }}</h4>
    </div>
    <div class="row">
    <div class="col-auto">
      <ion-select placeholder= "{{ 'download.selectProj' | translate }}" interface="popover" [(ngModel)]="mapProjSelected" (ngModelChange)="onProjChange()">
        <ng-container *ngFor="let format of mapProj">
          <ion-select-option value="{{ format }}">{{ format }}</ion-select-option>
        </ng-container>
      </ion-select>
    </div>
    </div>         
    <div class="row">
      <div class="col">
        <ion-input [label]="'download.minx' | translate" [(ngModel)]="extent.minX" labelPlacement="stacked" fill="outline" class="mx-auto round-input"></ion-input>
      </div>
      <div class="col">
        <ion-input [label]="'download.miny' | translate" [(ngModel)]="extent.minY" labelPlacement="stacked" fill="outline" class="mx-auto round-input"></ion-input>
      </div>
      <div class="col">
        <ion-input [label]="'download.maxx' | translate" [(ngModel)]="extent.maxX" labelPlacement="stacked" fill="outline" class="mx-auto round-input"></ion-input>
      </div>
      <div class="col">
        <ion-input [label]="'download.maxy' | translate" [(ngModel)]="extent.maxY" labelPlacement="stacked" fill="outline" class="mx-auto round-input"></ion-input>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <ion-range (ionChange)="onZoomChange($event)" labelPlacement="stacked" [label]="'download.zoomLevel' | translate" [ticks]="true" [min]="0" [max]="17" [value]="zoomValue"></ion-range>
      </div>
      <div class="col-3 my-auto">
        <ion-input class="text-center round-input" fill="outline" [(ngModel)]="zoomValue" disabled="true"></ion-input>
      </div>
      <div class="col-2 my-auto">
        <ion-button shape="round" class="dl-btn mx-auto" (click)="openMap()">
          <ion-icon slot="icon-only" name="map"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="row split">
      <div class="col">
        <div class="row">
          <h4 class="text-center">{{ 'download.selectData' | translate }}</h4>
        </div>
        <div class="row tree-row">
          <div class="tree-container">
            <ul class="list-group">
              <ng-container *ngFor="let node of treeData">
                <li class="list-group-item">
                  <div class="d-flex align-items-center">
                    <input type="checkbox" class="form-check-input me-2" [(ngModel)]="node.checked" (change)="toggleCheck(node)" />
                    <button class="btn btn-sm btn-link p-0 me-2" *ngIf="node.children && node.children.length > 0" (click)="toggleExpand(node)">
                      <ion-icon [name]="node.expanded ? 'chevron-down' : 'chevron-forward'"></ion-icon>
                    </button>
                    {{ node.name }}
                  </div>
                  <ul class="list-group ms-4" *ngIf="node.expanded && node.children">
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ nodes: node.children }"></ng-container>
                  </ul>
                </li>
              </ng-container>
            </ul>
            
            <ng-template #recursiveList let-nodes="nodes">
              <ng-container *ngFor="let child of nodes">
                <li class="list-group-item">
                  <div class="d-flex align-items-center">
                    <input type="checkbox" class="form-check-input me-2" [(ngModel)]="child.checked" (change)="toggleCheck(child)" />
                    <button class="btn btn-sm btn-link p-0 me-2" *ngIf="child.children && child.children.length > 0" (click)="toggleExpand(child)">
                      <ion-icon [name]="child.expanded ? 'chevron-down' : 'chevron-forward'"></ion-icon>
                    </button>
                    {{ child.name }}
                  </div>
                  <ul class="list-group ms-4" *ngIf="child.expanded && child.children && child.children.length > 0">
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ nodes: child.children }"></ng-container>
                  </ul>
                </li>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ion-button expand="block" shape="round" (click)="downloadLayers()">{{ 'download.title' | translate }}</ion-button>
      <ion-toast
        [isOpen]="openToast"
        message="{{ 'download.toast' | translate }}"
        [duration]="5000"
        (didDismiss)="closeToast()"
      ></ion-toast>
    </div>
    <div class="row">
      <ion-button expand="block" shape="round" (click)="updateLayers()">{{ 'download.update' | translate }}</ion-button>
    </div>
  </div>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="!networkConnected" class="offlineButton">
        <ion-icon name="cloud-offline-outline" slot="start"></ion-icon>
        {{'offline' | translate}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon [routerLink]="['/']" name="exit-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
